# Plotly and the Plotly Figure

# Playing with a Plotly Figure
You have been provided a figure to explore.

Display the figure with fig.show() and try each of the interactive options. It may take a few seconds to appear!

Determine what the temperature was on Wednesday. You can determine this from a simple hover, or toggling the spike lines (a button in the top-right of the plot).

Possible Answers: 25

# Fixing a Plotly figure
Your colleague had started a project to create a visualization of sales for the first three months of 2020. However, she then left for some annual leave - but the boss wants the visualization now!

You can see she left behind a dictionary object that has started to define the visualization. It is your task to finish this dictionary with the important key arguments so it can be turned into a Plotly visualization.

In the exercises where it is needed throughout the course, plotly.graph_objects has already been loaded as go.

There is a monthly_sales dictionary that has been partially complete also available.

In [1]:
import pandas as pd 
data = pd.read_csv('../datasets/monthly_sales.csv')
data

,Month Start,Month,Sales Volume,Sales Value,Returns Percentage,Average Feedback
0,1/1/20,January,56482,206231,3.48,4.41
1,1/2/20,February,46779,300835,3.99,2.47
2,1/3/20,March,51681,338870,1.30,4.22
3,1/4/20,April,63780,172543,1.08,1.19
4,1/5/20,May,70776,245770,2.16,2.45
5,1/6/20,June,50680,273360,5.67,2.04
6,1/7/20,July,68691,200309,1.64,2.52
7,1/8/20,August,66942,239271,2.67,3.85
8,1/9/20,September,63790,345397,3.93,1.35
9,1/10/20,October,71900,155825,5.00,3.25

In [2]:
monthly_sales = {'data': [{'type': '', 'x': ['Jan', 'Feb', 'March'], 'y': [450, 475, 400]}],
 'layout': {'title': {'text': ''}}}